html {
	overflow-x: scroll;
	background-color: #ccc;
}
body {
	height: 100vh;
}

.card-lists {
	overflow-x: auto;
}

.box {
	border-left: 0.8rem solid;
	margin-bottom: 0;
	border-color: rgb(174, 225, 255);
	cursor: move;
}

.box.dragging {
	opacity: 0.5;
}

.addLabel {
	margin-left: 15px;
}

.dropZone {
	height: 1rem;
	transition: background 0.15s, height 0.15s;
}

.dropZone.is-active {
	height: 2.5rem;
	background-color: rgba(0, 0, 0, 0.25);
}
