html {
	overflow-x: scroll;
	background-color: #ccc;
}
body {
	height: 100vh;
}

.card-lists {
	overflow-x: auto;
}

.box {
	border-left: 0.8rem solid;
	border-color: rgb(174, 225, 255);
	cursor: move;
}

.box.dragging {
	opacity: 0.5;
}

.addLabel {
	margin-left: 15px;
}

.dropZone {
	margin: 0.5rem 0;
}
